[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "==0.10.21"
numpy = "==1.26.4"
opencv-python = "==4.8.1.78"

[dev-packages]

[requires]
python_version = "3.12"
